<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Message Board</title>
</head>
<body>
  <h1>CREAT YOUR MESSAGE</h1>
    <form method="POST" action="/new">
        <label>
          <input type="text" name="user"> <br> <br>
        </label>
        <label>
          <input type="text" name="text"> 
        </label>
        <input type="submit"> <br> <br>
    </form>
      
</body>
</html>
